@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro&family=Ubuntu:wght@300&display=swap');

/* {
    outline: 1px solid red;
}*/

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: fit-content;
    font-family: 'Source Code Pro', sans-serif;
    position: absolute;
}

header {
    width: 100%;
    height: 100px;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(112, 0, 255, 0.49) 45.06%, rgba(0, 24, 244, 0.49) 97.35%), #FFFFFF;
    z-index: 999;
}

nav ul {
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Source Code Pro', sans-serif;
}

.logo {
    float: left;
    display: flex;
    margin: 20px 10%;
}

.logo img {
    height: 60px;
}

.logo h2 {
    font-family: 'Source Code Pro';
    color: #fff;
    font-size: 36px;
    padding: 10px;
    margin-left: 1vw;
}

.menu {
    margin: 14.5px 10% 0px;
}

#hero {
    height: calc(100vh);
    background: linear-gradient(90deg, rgba(112, 0, 255, 0.49) 45.06%, rgba(0, 24, 244, 0.49) 97.35%), #FFFFFF;
}

.left-head {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 10%;
}

.left-head h1 {
    font-family: 'Source Code Pro';
    color: #fff;
    font-size: 108px;
    margin-top: 25%;
    margin-bottom: 2vh;
}

.left-head a button {
    font-family: 'Source Code Pro';
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 3px solid #fff;
    border-radius: 8px;
    font-size: 32px;
    margin: 3% 0 0 40%;
}

.left-head a button:hover {
    background-color: #ffffff;
    color: rgb(111, 0, 255, 0.5);
}

.right-head {
    width: 45%;
    height: 100%;
    display: flex;
    margin: 5% 10% 0 0;
}

.right-head img {
    width: 512px;
    height: 512px;
    padding: 12.5% 0 0 32%;
}

.left {
    width: 40%;
    font-size: 24px;
    margin: 20vh 0 0 10%;
}

.left img {
    width: 500px;
    margin: 0 0 0 10%;
}

.right {
    width: 40%;
    font-size: 27px;
    margin: 22vh 0 0 0;
}

.right p {
    margin: 10px;
}

#exemplos {
    display: flex;
    flex-direction: column;
    margin: 0vh 0 0 0;
}

.title {
    width: 80%;
    margin: 20vh 10% 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 48px;
    color: rgb(111, 0, 255, 0.5);
}

.list {
    width: 80%;
    margin: 2% 10% 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list .card {
    position: relative;
    width: 400px;
    height: 520px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0.15px 0.25px rgba(0, 0, 0, 0.2);
}

.list .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(112, 0, 255, 0.49) 45.06%, rgba(0, 24, 244, 0.49) 97.35%), #FFFFFF;
    clip-path: circle(240px at center 0);
    text-align: center;
}

.list .card .circle h2 {
    color: #fff;
    font-size: 36px;
    padding: 80px;
}

.list .card .content {
    position: absolute;
    bottom: 20px;
    page-break-after: 10px;
    text-align: center;
}

.list .card .content p {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.footer {
    width: 100%;
    height: 200px;
    margin: 10vh 0 0 0;
    background: linear-gradient(90deg, rgba(112, 0, 255, 0.49) 45.06%, rgba(0, 24, 244, 0.49) 97.35%), #FFFFFF;
}